*{
    font-family: 'Franklin Gothic Medium';
    box-sizing: border-box;
    margin: 0;
    font-style: normal;
    color: aliceblue;
}

body{
    margin: 0;
    background-color: black;
    background-image: url("../img/teste_02.jpg");
}
main{
    display: flex;
    align-items: baseline;
    justify-content: end;
    flex-direction: column;
    height: 100vh;
}

p{
    font-weight: bold;
    font-size: large;
    color: rgb(255, 255, 255);
}


.container{
    margin: 80px 80px;
    border: 3px solid red;
    border-radius: 15px;
    padding: 10px;
    background-color: #d834348c;
    box-shadow: 0px 0px 40px red;
}
.title_style{
    color: rgb(230, 86, 86);
    font-style: oblique;
}


.title{
    text-transform: uppercase;
    font-size: large;
    margin: 15px 0px;
}

.title h1 {
    color: #fff;
}

.conteudo{
    margin: 15px 0px;
}

.button{
    padding: 18px;
    background-color: red;
    border-radius: 15px;
    font-size: 20px;
    text-align: center;
    width: 20vw;
    cursor: pointer;
    text-transform: uppercase;
    border: none;

}

.button:hover{
    background-color: white;
    color: #ff0000;
}


.right{
    width: 500px;
    height: 500px;
}
